.header {
  border-radius: 2rem;
  background: rgba(0,0,0,.08);
  min-height: 3rem;
  width: 100%;
  display: flex;
  padding: .5rem 1rem;
  align-items: center;
}

:host {
  display: flex;
  flex-direction: column;
}

.items {
  display: grid;
  grid-template-columns: 1fr;

  @media (max-width: 600px){
    grid-template-columns: 1fr 1fr;
  }
}
