<!--    from core lib-->
<app-grid-view [items]="items">
  <!--  <ng-template appHeader>...</ng-template>-->
  <ng-template let-item appItem>
    <!--    from domain lib-->
    <app-user-card *ngIf="item.type ==='user'" [item]="item"></app-user-card>
    <app-contract-card *ngIf="item.type ==='contract'" [item]="item"></app-contract-card>
  </ng-template>
</app-grid-view>


<app-grid-view [items]="items">
  <ng-template let-item appItem>
    <app-contract-card [item]="item"></app-contract-card>
  </ng-template>
</app-grid-view>
